@font-face {
    font-family: 'mont_bold';
    src: url('../font/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
    url('../font/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'comfor_regul';
    src: url('../font/comfortaa/comfortaa_regular.woff2') format('woff2'),
    url('../font/comfortaa/comfortaa_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #FCF6F3;  
}

/* ------------------------ Footer ------------------------ */
footer {
    background-color: #043775;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px 40px;
}

footer h3{
    margin: 0 0 0 20px;
    font-family: 'mont_bold', arial, sans-serif;
}

footer ul{
    list-style: none;
    font-family: 'comfor_regul', arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    
}

footer a:link, footer a:visited{
    color: #FCF6F3;
    text-decoration: none;
}

footer hr{
	height: 200px;
    border-radius: 100px;
    margin: 0 15%;
    color: #FCF6F3;
}