@font-face {
    font-family: 'mont_bold';
    src: url('../font/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
    url('../font/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'comfor_regul';
    src: url('../font/comfortaa/comfortaa_regular.woff2') format('woff2'),
    url('../font/comfortaa/comfortaa_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #043775;
    color: #FCF6F3;
    font-family: 'comfor_regul', arial, sans-serif;
    font-size: larger;
}

/* ------------------------ Header ------------------------ */
header {
    background-color: #043775;
    position: sticky;
    top:0;
    left:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'mont_bold', arial, sans-serif;
}

header ul {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

header li {
    list-style: none;
    font-family: 'comfor_regul', arial, sans-serif;
    margin-right: 50px;
    font-size: 20px;

}

header a:link, header a:visited{
    color: #FCF6F3;
    text-decoration: none;
}

header img{
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
}

header h1{
    margin: 0 0 0 20px;
}

/* ------------------------ Main ------------------------ */
main {
    background-color: #0A0F27;
    padding: 20px 50px; 
    font-family: 'comfor_regul', arial, sans-serif;
}

main h1{
    margin: 20px 0 40px 0;
    font-family: 'mont_bold', arial, sans-serif;
    text-align: center;
}

main a:link, main a:visited{
    text-decoration: none;
    color: #FCF6F3;
}

main section>article+article+article+article>p a:link, main section>article+article+article+article>p a:visited{
    color: #0A0F27;
}

main hr{
    margin: 0;
    color: #FCF6F3;
    border-radius: 100px;
}

main section{
    background-color: #001952;
    border-radius: 20px;
    margin: 0 20px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main h1+div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main div>section h3,main div>section p{
    margin: 0;
}

main div>section article{
    margin: 20px 0;
}

main section>article+article+article+article>p{
    background-color: #12769E;
    color: #0A0F27;
    border-radius: 20px;
    padding: 5px 20px;
    text-align: center;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgba(242,242,242,0.15);
    border-width: 0px 1px 1px 0px;
    width: 35%;
    height: auto;
    font-size: larger;
}
/* Detail */

/* E-mail */
main hr+section{
    width: 150%;
}

main section>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section>div article{
    width: 47%;
}

main hr+section article input, main hr+section article textarea{
    background-color: #FCF6F3;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    margin: 10px 0 0 0;
    padding: 5px 0 5px 10px;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgba(242,242,242,0.15);
    border-width: 0px 1px 1px 0px;
    color: #0A0F27;
    font-family: 'comfor_regul', arial, sans-serif;
    font-size: large;
}

main hr+section article textarea{
    height: 80px;
}

main hr+section>article+article+article+article{
    display: flex;
    flex-direction: row-reverse;
}

/* ------------------------ Footer ------------------------ */
footer {
    background-color: #043775;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 20px 40px;
}

footer h3{
    margin: 0 0 0 20px;
    font-family: 'mont_bold', arial, sans-serif;
}

footer ul{
    list-style: none;
    font-family: 'comfor_regul', arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    
}

footer a:link, footer a:visited{
    color: #FCF6F3;
    text-decoration: none;
}

footer hr{
	height: 200px;
    border-radius: 100px;
    margin: 0 15%;
    color: #FCF6F3;
}